body{
    background-color: lavender;
    height:90vh;
}
button{
    width:15%;
    margin-left:42.5%;
    margin-top: 45vh;
    cursor: pointer;
    height:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 18px;
    background-color: rgb(250, 230, 212);
    border-radius: 5px;
    outline: none;
}
button:hover{
    background-color: #fff;
}